.w30 {
  width: 30%;
  display: flex;
  align-items: center;
}
.w70 {
  width: 70%;
  display: flex;
  align-items: center;
}
.text-wrapper {
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.table-row {
  width: 100%;
  height: 2.5rem;
  border-bottom: 1px solid #d9d5d56b;
  display: flex;
  cursor: pointer;
}
.table-row:hover{
  background-color: #d9d5d56b;
}
.table-wrapper {
  width: 100%;
}
.blue-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%; /* Makes the element a circle */
}
