.full-size {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
}
.left-part {
  width: 15%;
  height: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #d9d5d56b;
}
.right-part {
  width: 80% !important;
  height: 100%;
  padding-top: 2rem;
}
.sections {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.for-nav-link {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}
.for-nav-link:hover {
  background-color: #d9d5d56b;
}
.selected {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  background-color: #d9d5d56b;
}
